@font-face {
  font-family: 'Apple SD Gothic';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/AppleSDGothicNeoR.ttf") format("ttf");
}

@font-face {
  font-family: 'Apple SD Gothic';
  font-style:  normal;
  font-weight: 500;
  font-display: swap;
  src: url("/fonts/AppleSDGothicNeoM.ttf") format("ttf");
}

@font-face {
  font-family: 'Apple SD Gothic';
  font-style:  normal;
  font-weight: 600;
  font-display: swap;
  src: url("/fonts/AppleSDGothicNeoSB.ttf") format("ttf");
}

@font-face {
  font-family: 'Apple SD Gothic';
  font-style:  normal;
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/AppleSDGothicNeoB.ttf") format("ttf2"),
}
